@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Press+Start+2P&display=swap");

:root {
    --main-bg: #516dff;
    --sub-c1: #e9e9e9;
    --sub-c2: #73c0b0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Press Start 2P", cursive;
}

body {
    background: var(--main-bg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login-header {
    width: 100%;
    height: 3vh;
    min-height: 50px;
    border: 1px solid;
    position: fixed;
    top: 0;
}

.login-container {
    width: 30%;
    height: 90vh;
    min-width: 550px;
    min-height: 600px;
    border-radius: 25px;
    overflow: hidden;

}

.login-logo-container {
    width: 100%;
    height: 30%;
    background: var(--sub-c1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login-logo-container img {
    width: 20%;
    border-radius: 50%;
    transition: all 0.3s
}


.login-logo-container img:hover {
    transform: scale(1.1);
}

.login-contents-container {
    width: 100%;
    height: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
}

.login-contents-container h1 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

 .login-form-contents-wrapper {
     position: relative;
     width: 100%;
 }

.login-form input {
    width: 100%;
    height: 3rem;
    border: none;
    padding: 0 2rem;
    outline: none;
    font-size: 1rem;
    border-radius: 25px;
    background-color: var(--sub-c1);
    margin-bottom: 2rem;
    transition: all 0.3s;
}

.login-form input:focus {
box-shadow: inset 1px 1px 2px 0px var(--main-bg), 1px 1px 2px 0px var(--main-bg);
}

.login-form label {
    font-size: 0.7rem;
    position: absolute;
    z-index: 10;
    top: -8px;
    left: 30px;
    background: white;
    padding: 3px;
    border-radius: 50px;
}

.round-button {
    width: 100%;
    height: 3rem;
    padding: 0 2rem;
    background: var(--main-bg);
    border: none;
    opacity: 0.3;
    outline: none;
    border-radius: 25px;
}

.login-form button.active {
    opacity: 1;
    cursor: pointer;
}

.login-register-link {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.login-register-link a {
    font-size: 0.7rem;
    text-decoration: none;
}

.invalid-id {
    position: absolute;
    bottom: 1rem;
    left: 30px;
    font-size: 0.7rem;
}

.regist-check-text{
    position: absolute;
    font-size: 0.5rem;
    bottom: 20px;
    left: 30px;
    display: none;
    color: red;
}


#register-id {
    width: 88%;
}

#register-nickname {
    width: 88%;
}

.duplicate-button {
    position: absolute;
    transform: translateX(10px);
    width: 10%;
    height: 3rem;
    background: var(--sub-c2);
    cursor: pointer;
    border: none;
    border-radius: 25px;
    transition: all 0.3s;
}


.duplicate-id.true svg{
    stroke: green;
}

.duplicate-id.false svg{
    stroke: red;
}

.duplicate-nickname.true svg{
    stroke: green;
}

.duplicate-nickname.false svg{
    stroke: red;
}